<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gcart</title>
  <link rel="stylesheet" href="/assets1/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/assets1/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/assets1/vendors/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="/assets1/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/assets1/vendors/owl-carousel-2/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets1/vendors/owl-carousel-2/owl.theme.default.min.css">
  <link rel="stylesheet" href="/assets1/css/style.css">
  <link rel="shortcut icon" href="/assets1/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">

    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="index.html"><img src="/assets1/images/logo-no-background.png"
            alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="/assets1/images/logo-no-background.png"
            alt="logo" /></a>
      </div>
      <ul class="nav">
        <li class="nav-item profile">
          <div class="profile-desc">
            <div class="profile-pic">
              <div class="count-indicator">
                <img class="img-xs rounded-circle " src="/assets1/images/faces/face15.jpg" alt="">
                <span class="count bg-success"></span>
              </div>
              <div class="profile-name">
                <h5 class="mb-0 font-weight-normal">Admin</h5>
                <!-- <span>Gold Member</span> -->
              </div>
            </div>
            <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
            <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
              aria-labelledby="profile-dropdown">
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-settings text-primary"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-onepassword  text-info"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-calendar-today text-success"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                </div>
              </a>
            </div>
          </div>
        </li>

        <!--side bar details start-->

        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#dashboard" aria-expanded="false" aria-controls="dashboard">
            <span class="menu-title">DASHBOARD</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="dashboard">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="../adminhome">Dashboard</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#product-management" aria-expanded="false"
            aria-controls="product-management">
            <span class="menu-title">PRODUCT MANAGEMENT</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="product-management">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="../prodectdetails">ProdectDetails</a></li>
              <li class="nav-item"> <a class="nav-link" href="../addprodects">AddProdect</a></li>

            </ul>
          </div>
        </li>

        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#category-management" aria-expanded="false"
            aria-controls="category-management">
            <span class="menu-title">CATEGORY MANAGEMENT</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="category-management">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="../categorydetails">CategoryDetails</a></li>
              <li class="nav-item"> <a class="nav-link" href="../addcategorys">AddCategory</a></li>
            </ul>
          </div>
        </li>


        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#user-management" aria-expanded="false"
            aria-controls="user-management">
            <span class="menu-title">USER MANAGEMENT</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="user-management">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="../AdminUserpage">Users details</a></li>
            </ul>
          </div>
        </li>



        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#order-management" aria-expanded="false"
            aria-controls="order-management">
            <span class="menu-title">ORDER MANAGEMENT</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="order-management">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/OrderManagPage">Order details</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#coupon-management" aria-expanded="false"
            aria-controls="coupon-management">
            <span class="menu-title">COUPON MANAGEMENT</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="coupon-management">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/CouponManagent">Coupon details</a></li>
              <li class="nav-item"> <a class="nav-link" href="/Addnewcoupon">Add New Coupon</a></li>
            </ul>
          </div>
        </li>
        <!--side bar details end-->

      </ul>
    </nav>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/assets1/images/logo-mini.svg"
              alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch" style="position: relative;">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <ul class="navbar-nav w-100">
            <li class="nav-item w-100">
              <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                <input type="text" class="form-control" placeholder="Search products">
              </form>
            </li>
            <button id="reportbtn">Sales Report</button>
          </ul>
          <div id="repotlistdiv"
            style=" display: none; position: absolute; top: 6rem ; right: 14rem; background-color: rgb(0, 0, 0); padding: 30px; box-shadow: 0 0 10px white; width: 280px; height: 200px; ">
            <div class="d-flex" id="exel_report" style="width: 100px; position: relative; ">
              <!-- 
              <div>
                <h5 >Sales Report</h5>
              </div> -->
              <form id="dateFilterForm">
                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" name="startDate">
                <br>
                <label for="endDate">End Date:</label>
                <input type="date" id="endDate" name="endDate">
                <br>
                <button type="submit">Apply Filter</button>
              </form>
              <br>
              <div id="exportButton" class="w-100">
                <!-- Button to trigger the Excel export -->
                <a id="exportExcel" style="display: none;" download="exported_data.xlsx">Export to Excel</a>
              </div>
            </div>
          </div>
          <!-- script the report list -->
          <script>
            const repotlistdiv = document.getElementById("repotlistdiv")
            const reportbtn = document.getElementById("reportbtn")
            reportbtn.addEventListener("click", (event) => {
              if (repotlistdiv.style.display === "none") {

                repotlistdiv.style.display = "block"
              } else {
                repotlistdiv.style.display = "none"
              }
            })

          </script>
          <ul class="navbar-nav navbar-nav-right">

            <li class="nav-item dropdown border-left">
              <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown"
                aria-expanded="false">
                <i class="mdi mdi-email"></i>
                <span class="count bg-success"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="messageDropdown">
                <h6 class="p-3 mb-0">Messages</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="/assets/images/faces/face4.jpg" alt="image" class="rounded-circle profile-pic">
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">Mark send you a message</p>
                    <p class="text-muted mb-0"> 1 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="/assets1/images/faces/face2.jpg" alt="image" class="rounded-circle profile-pic">
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">Cregh send you a message</p>
                    <p class="text-muted mb-0"> 15 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="/assets1/images/faces/face3.jpg" alt="image" class="rounded-circle profile-pic">
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">Profile picture updated</p>
                    <p class="text-muted mb-0"> 18 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <p class="p-3 mb-0 text-center">4 new messages</p>
              </div>
            </li>
            <li class="nav-item dropdown border-left">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                data-toggle="dropdown">
                <i class="mdi mdi-bell"></i>
                <span class="count bg-danger"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="notificationDropdown">
                <h6 class="p-3 mb-0">Notifications</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-calendar text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Event today</p>
                    <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event today </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-danger"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Settings</p>
                    <p class="text-muted ellipsis mb-0"> Update dashboard </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-link-variant text-warning"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Launch Admin</p>
                    <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <p class="p-3 mb-0 text-center">See all notifications</p>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                <div class="navbar-profile">
                  <img class="img-xs rounded-circle" src="/assets/images/faces/face15.jpg" alt="">
                  <p class="mb-0 d-none d-sm-block navbar-profile-name">Admin</p>
                  <!-- <i class="mdi mdi-menu-down d-none d-sm-block"></i> -->
                </div>
              </a>

            </li>
            <!--logout-->
            <li> <a href="/adminlogout">Logout</a></li>
          </ul>

        </div>
      </nav>
      <!-- partial -->

      <div class="main-panel">


        <div class="content-wrapper">


          <!--top bars-->
          <div class="row">







            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">
                          <%=Allorderstotal %>
                        </h3>
                        <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
                      </div>
                    </div>
                    <!-- <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div> -->
                  </div>
                  <h6 class="text-muted font-weight-normal">All Orders</h6>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">
                          <%=totalsales %>
                        </h3>
                        <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p> -->
                      </div>
                    </div>
                    <!-- <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div> -->
                  </div>
                  <h6 class="text-muted font-weight-normal">Total Sales</h6>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">
                          <%=Allusers %>
                        </h3>
                        <!-- <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p> -->
                      </div>
                    </div>
                    <!-- <div class="col-3">
                        <div class="icon icon-box-danger">
                          <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                        </div>
                      </div> -->
                  </div>
                  <h6 class="text-muted font-weight-normal">Total Users</h6>
                </div>
              </div>
            </div>


            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">
                          <%= Allorderscount %>
                        </h3>
                        <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
                      </div>
                    </div>
                    <!-- <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div> -->
                  </div>
                  <h6 class="text-muted font-weight-normal">Total Orders</h6>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">
                          <%=Allreturnorder %>
                        </h3>
                        <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
                      </div>
                    </div>
                    <!-- <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div> -->
                  </div>
                  <h6 class="text-muted font-weight-normal">Total ReturnOrder</h6>
                </div>
              </div>
            </div>



            
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">
                          <%=Allcancelledorderscount %>
                        </h3>
                        <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
                      </div>
                    </div>
                    <!-- <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div> -->
                  </div>
                  <h6 class="text-muted font-weight-normal">Total CancelOrders</h6>
                </div>
              </div>
            </div>

          </div>





          <div class="graphdiv" style="display: grid;  grid-template-columns: repeat(3, 1fr);">
            <!--categorycount-->

            <div class=" grid-margin stretch-card" style="width: 30rem; height: 30rem;">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Category Counts</h4>

                  <select id="timePeriod">
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="monthly">Monthly</option>
                    <option value="yearly">Yearly</option>
                  </select>

                  <canvas id="myChart" width="400" height="400"></canvas>

      
                </div>
              </div>
            </div>



            <!--payment-->


            <div class=" grid-margin stretch-card" style="width: 30rem; height: 30rem;">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Payment Counts</h4>
                  <div class="row justify-content-center">
                    <div class="col-lg-12">
                      <canvas id="myCharts"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



<!--salesreport-->


          <div class="salesreport">
      <div class="card" style="width: 60rem;">
              <div class="card-body" style="width: 60rem; height: 40rem;">
                <h4 class="card-title">Weekly Sales Report</h4>
                <canvas id="myChartes" style="width:100%;max-width:1000px; "></canvas>
              </div>
            </div>
          </div>






        </div>

      </div>

    </div>

    <script src="/assets1/vendors/js/vendor.bundle.base.js"></script>
    <script src="/assets1/vendors/chart.js/Chart.min.js"></script>
    <script src="/assets1/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/assets1/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/assets1/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/assets1/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <script src="/assets1/js/off-canvas.js"></script>
    <script src="/assets1/js/hoverable-collapse.js"></script>
    <script src="/assets1/js/misc.js"></script>
    <script src="/assets1/js/settings.js"></script>
    <script src="/assets1/js/todolist.js"></script>
    <script src="/assets1/js/dashboard.js"></script>
    <!--categorycount-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <!--paymentmethode count-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <!--categorycount-->


    <script>
      const timePeriodDropdown = document.getElementById('timePeriod');
      const chartCanvas = document.getElementById('myChart');
      const chartContext = chartCanvas.getContext('2d');
      let chart = null;

      // Function to update the chart based on the selected time period
      async function updateChart(selectedTimePeriod) {
        try {
          const response = await fetch(`/admin/categorydata?timePeriod=${selectedTimePeriod}`);
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }

          const data = await response.json();

          if (chart) {
            chart.destroy(); // Destroy the previous chart instance
          }

          // Extract data for the chart
          const xValues = data.map(item => item.name);
          const yValues = data.map(item => item.totalCount);
          const backgroundColors = [
            "#FF5733", "#C70039", "#FFC300", "#DAF7A6", "#1287A5"
          ];
          const borderColor = "white";
          const borderWidth = 1;

          chart = new Chart(chartContext, {
            type: "doughnut",
            data: {
              labels: xValues,
              datasets: [{
                data: yValues,
                backgroundColor: backgroundColors,
                borderColor: borderColor,
                borderWidth: borderWidth
              }]
            },
            options: {
              title: {
                display: true,
                fontSize: 16,
                fontColor: "white"
              },
              legend: {
                display: true,
                position: "right",
                labels: {
                  fontColor: "white"
                }
              }
            }
          });
        } catch (error) {
          console.error('Error:', error);
        }
      }

      // Add an event listener to the dropdown to trigger chart updates
      timePeriodDropdown.addEventListener('change', () => {
        const selectedTimePeriod = timePeriodDropdown.value;
        updateChart(selectedTimePeriod);
      });

      // Initialize the chart with the default time period
      updateChart(timePeriodDropdown.value);
    </script>





    <!--amountycount-->
    <script>
      async function paymentmodedata() {
        try {
          const response = await fetch('/admin/paymentdata'); // Fetch data from your server
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }

          const data = await response.json();

          // Extract data for the chart
          const xValues = Object.keys(data); // Payment modes as labels
          const yValues = Object.values(data); // Payment mode counts as data
          const barColors = [
            "#ff5733", // Red
            "#ffa933", // Orange
            "#33ff57", // Green
            "#3399ff", // Blue
            "#9933ff", // Purple
          ];


          new Chart("myCharts", {
            type: "pie",
            data: {
              labels: xValues,
              datasets: [{
                backgroundColor: barColors,
                data: yValues
              }]
            },
            options: {
              title: {
                display: true,
                // text: "Payment Mode Distribution",
                fontColor: "white",
                fontSize: 18, // Set the title font size
              },
              legend: {
                position: 'right',
                fontColor: "white",
                fontSize: 18, // Change the legend position to the right
              }
            }
          });
        } catch (error) {
          console.error('Error:', error);
        }
      }

      paymentmodedata();
    </script>



   

    <script>
      async function salesWeeklyData() {
        try {
          const response = await fetch('/admin/weeklysalesreportdatachart'); // Fetch dynamic data from your server
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }

          const data = await response.json();
          const xValues = data.map((weekData) => weekData.startDate); // Use actual week start dates
          const yValues = data.map((weekData) => weekData.totalSales); // Use actual total sales values
          const barColors = ["red", "green", "blue", "orange", "brown"]; // Define colors

          new Chart("myChartes", {
            type: "bar",
            data: {
              labels: xValues,
              datasets: [{
                backgroundColor: barColors,
                data: yValues
              }]
            },
            options: {
              legend: { display: false },
              title: {
                display: true,
                text: "Weekly Sales Report" // Update the chart title
              }
            }
          });
        } catch (error) {
          console.error('Error:', error);
        }
      }
      salesWeeklyData();
    </script>




  

    <script>
      const dateFilterForm = document.getElementById('dateFilterForm');
      const exportButton = document.getElementById('exportButton');
      const exportExcelButton = document.getElementById('exportExcel');

      dateFilterForm.addEventListener('submit', async function (event) {
        event.preventDefault();

        // Get selected start and end dates
        const startDate = document.getElementById('startDate').value;
        const endDate = document.getElementById('endDate').value;

        // Check if both dates are selected
        if (startDate && endDate) {
          // Construct the URL for the Excel export route with the selected dates
          const url = `/exportOrdersToExcel?startDate=${startDate}&endDate=${endDate}`;

          // Log the URL for debugging
          console.log("URL:", url);

          // Fetch the Excel data from the server
          try {
            const response = await fetch(url);

            // Log the response for debugging
            console.log("Response:", response);

            if (response.ok) {
              // Create a blob with the Excel data
              const blob = await response.blob();

              // Log the blob for debugging

              // Create a URL for the blob and set it as the download link for the export button
              const blobUrl = URL.createObjectURL(blob);
              exportExcelButton.href = blobUrl;

              console.log("Blob:", blob);
              // Display the export button
              exportButton.style.display = 'block';
              exportExcelButton.style.display = 'block'
              console.log(exportButton);
            } else {
              console.error('Error fetching Excel data');
            }
          } catch (error) {
            console.error('Error:', error);
          }
        } else {
          alert('Please select both start and end dates.');
        }
      });

    </script>

</body>

</html>