<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/assets1/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/assets1/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/assets1/vendors/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="/assets1/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/assets1/vendors/owl-carousel-2/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets1/vendors/owl-carousel-2/owl.theme.default.min.css">
  <link rel="stylesheet" href="/assets1/css/style.css">
  <link rel="shortcut icon" href="/assets1/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="index.html"><img src="/assets1/images/logo-no-background.png"
            alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="/assets1/images/logo-no-background.png"
            alt="logo" /></a>
      </div>
      <ul class="nav">
        <li class="nav-item profile">
          <div class="profile-desc">
            <div class="profile-pic">
              <div class="count-indicator">
                <img class="img-xs rounded-circle " src="/assets1/images/faces/face15.jpg" alt="">
                <span class="count bg-success"></span>
              </div>
              <div class="profile-name">
                <h5 class="mb-0 font-weight-normal">Admin</h5>
                <!-- <span>Gold Member</span> -->
              </div>
            </div>
            <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
            <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
              aria-labelledby="profile-dropdown">
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-settings text-primary"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-onepassword  text-info"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-calendar-today text-success"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                </div>
              </a>
            </div>
          </div>
        </li>



        <!--dashboard details start-->

        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#dashboard" aria-expanded="false" aria-controls="dashboard">
            <span class="menu-title">DASHBOARD</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="dashboard">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="../adminhome">Dashboard</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#product-management" aria-expanded="false"
            aria-controls="product-management">
            <span class="menu-title">PRODUCT MANAGEMENT</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="product-management">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="../prodectdetails">ProductManagement</a></li>
              <li class="nav-item"> <a class="nav-link" href="../addprodects">AddProdect</a></li>

            </ul>
          </div>
        </li>

        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#category-management" aria-expanded="false"
            aria-controls="category-management">
            <span class="menu-title">CATEGORY MANAGEMENT</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="category-management">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="../categorydetails">CategoryDetails</a></li>
              <li class="nav-item"> <a class="nav-link" href="../addcategorys">AddCategory</a></li>
            </ul>
          </div>
        </li>


        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#user-management" aria-expanded="false"
            aria-controls="user-management">
            <span class="menu-title">USER MANAGEMENT</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="user-management">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="../AdminUserpage">Users details</a></li>
            </ul>
          </div>
        </li>


        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#order-management" aria-expanded="false"
            aria-controls="order-management">
            <span class="menu-title">ORDER MANAGEMENT</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="order-management">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/OrderManagPage">Order details</a></li>
            </ul>
          </div>
        </li>


        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#coupon-management" aria-expanded="false"
            aria-controls="coupon-management">
            <span class="menu-title">COUPON MANAGEMENT</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="coupon-management">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/CouponManagent">Coupon details</a></li>
              <li class="nav-item"> <a class="nav-link" href="/Addnewcoupon">Add New Coupon</a></li>
            </ul>
          </div>
        </li>
        <!--dashboard details end-->

        </li>
      </ul>
    </nav>

    <!-- partial -->

    <div class="container-fluid page-body-wrapper">

      <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/assets1/images/logo-mini.svg"
              alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>

          <ul class="navbar-nav w-100">
            <li class="nav-item w-100">
              <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" action="/categorysearch" method="get">
                <input type="text" class="form-control" name="searchQuery" placeholder="Search Category">
                <button type="submit" class="btn btn-primary ml-2">Search</button>
              </form>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">


            <li class="nav-item dropdown border-left">
              <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown"
                aria-expanded="false">
                <i class="mdi mdi-email"></i>
                <span class="count bg-success"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="messageDropdown">
                <h6 class="p-3 mb-0">Messages</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="/assets/images/faces/face4.jpg" alt="image" class="rounded-circle profile-pic">
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">Mark send you a message</p>
                    <p class="text-muted mb-0"> 1 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="/assets1/images/faces/face2.jpg" alt="image" class="rounded-circle profile-pic">
                  </div>

                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="/assets1/images/faces/face3.jpg" alt="image" class="rounded-circle profile-pic">
                  </div>

                </a>
                <div class="dropdown-divider"></div>
                <p class="p-3 mb-0 text-center">4 new messages</p>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                <div class="navbar-profile">
                  <img class="img-xs rounded-circle" src="/assets/images/faces/face15.jpg" alt="">
                  <p class="mb-0 d-none d-sm-block navbar-profile-name">Admin</p>
                  <!-- <i class="mdi mdi-menu-down d-none d-sm-block"></i> -->
                </div>
              </a>

            </li>
            <!--logout-->
            <li> <a href="/adminlogout">Logout</a></li>
          </ul>
        </div>
      </nav>


      <!-- Category details  start -->


      <div class="container mt-4">
        <div class="my-5"> <!-- Add margin top -->
          <h1>Category Management</h1>
        </div>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="text-warning">Category</th>
              <th class="text-warning">Image</th>
              <th class="text-warning">Description</th>
              <<th class="text-warning">Discount</th>
                <th class="text-warning">Action</th>
            </tr>
          </thead>

          <tbody>
            <%iteam.forEach(data=>{ %>
              <tr class="text-white">

                <td>
                  <%= data.Category %>
                </td>
                <td><img src="uploads/<%= data.Image %>" alt="Product Image" class="img-fluid"
                    style="max-width: 100px;"></td>
                <td>
                  <%= data.Description %>
                </td>
                <td>
                  <%= data.Discount %>%
                </td>
                <td>
                  <!-- <button class="btn btn-primary">Edit</button> -->
                  <form action="/updatecategorydetails/<%=data._id %>" method="post"><button type="submit"
                      class="btn btn-primary">Edit</button></form>

                  <form action="/deletecategory/<%=data._id %>" method="post"><button type="submit"
                      class="btn btn-danger">Delete</button></form>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
      <!-- Category details  end -->

    </div>

  </div>

  <script src="/assets1/vendors/js/vendor.bundle.base.js"></script>
  <script src="/assets1/vendors/chart.js/Chart.min.js"></script>
  <script src="/assets1/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="/assets1/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/assets1/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/assets1/vendors/owl-carousel-2/owl.carousel.min.js"></script>
  <script src="/assets1/js/off-canvas.js"></script>
  <script src="/assets1/js/hoverable-collapse.js"></script>
  <script src="/assets1/js/misc.js"></script>
  <script src="/assets1/js/settings.js"></script>
  <script src="/assets1/js/todolist.js"></script>
  <script src="/assets1/js/dashboard.js"></script>

</body>

</html>