<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Ashion Template">
  <meta name="keywords" content="Ashion, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gcart</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
  <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">


  <link rel="stylesheet" href="/assets1/vendors/mdi/css/materialdesignicons.min.css">

</head>

<body>

  <!--header-->
  <%- include('./partials/header.ejs') %>
    <!--header-->

    <section class="bg-light my-2">
      <div class="container-fluid">
        <div class="row">
          <!-- Cart -->
          <div class="col-lg-9">
            <div class="card border shadow-0">
              <div class="m-4">
                <h4 class="card-title mb-4">Cart Items</h4>

                <!-- Start Cart Item -->
                <div class="container">
                  <table class="table table-bordered table-responsive-md">
                    <thead>
                      <tr>
                        <th>Brand</th>
                        <th>Image</th>
                        <th>Model</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% cartinfo.forEach((data,index)=> { %>
                        <tr class="each_row">
                          <td>
                            <a href="#" class="nav-link brand text-dark font-weight-bold">
                              <%= data.Brand %>
                            </a>
                          </td>
                          <td>
                            <img src="/uploads/<%= data.Image[0] %>" alt="Image" class="img-fluid"
                              style="max-height: 120px;" />
                          </td>
                          <td>
                            <a href="#" class="nav-link model text-dark font-weight-bold">
                              <%= data.Model %>
                            </a>
                          </td>
                          <td>
                            <p class="description text-dark">
                              <%= data.Description %>
                            </p>
                          </td>
                          <% if (data.OfferPrice) { %>
                            <td>
                              <h6 class="text-success">
                                <%= data.OfferPrice %>/-
                              </h6>
                            </td>
                            <% } else { %>
                              <td>
                                <h6 class="text-success">
                                  <%= data.Price %>/-
                                </h6>
                              </td>
                              <% } %>
                                <td>
                                  <div class="count_container" data-productid="<%= data.ProdectId %>"
                                    data-price="<%= data.OfferPrice || data.Price %>">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <button class="decrebutton btn"
                                          style="background-color: #00ff00; color: #ffffff;">-</button>
                                      </div>
                                      <span style="font-size: 10px; color: #333;">
                                        <input type="text" value="<%= data.Count %>"
                                          class="count form-control form-control-sm" min="1" style="width: 40px;" readonly>
                                      </span>
                                      <div class="input-group-append">
                                        <button class="incrbutton btn"
                                          style="background-color: #00ff00; color: #ffffff;">+</button>
                                          <button class="incrbutton2 btn"
                                          style="background-color: #00ff00; color: #ffffff;">+</button>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                                <% if (data.OfferPrice) { %>
                                  <td>
                                    <h5 class="text-success">
                                      <span class="total-price">
                                        <%= data.OfferPrice * data.Count %>/-
                                      </span>
                                    </h5>
                                  </td>
                                  <% } else { %>
                                    <td>
                                      <h5 class="text-success">
                                        <span class="total-price">
                                          <%= data.Price * data.Count %>/-
                                        </span>
                                      </h5>
                                    </td>
                                    <% } %>
                                      <td>
                                        <a href="/IteamRemoveCart/<%= data.ProdectId %>"
                                          class="btn btn-danger">Remove</a>
                                      </td>
                        </tr>
                        <% }) %>
                    </tbody>
                  </table>
                </div>
                <!-- End Cart Item -->

              </div>
            </div>
          </div>

          <!-- Summary -->

          <div class="col-lg-3">
            <!--coupon-->
            <%if(totalprice){%>
              <div class="card mb-3 border shadow-0" style="background-color: lightyellow;">
                <div class="card-body" style="color: green;">

                  <form id="couponadd">
                    <div class="form-group">
                      <label class="form-label">Have a coupon?</label>
                      <div class="input-group">
                        <input type="text" class="form-control border" id="couponid" name=""
                          placeholder="Coupon code" />
                        <button class="btn btn-light border" type="button" id="buttons">Apply</button>
                      </div>
                      <p class="text-danger" id="error-message"></p>
                    </div>
                  </form>

                </div>
              </div>

              <div class="card shadow-0 border" style="background-color: lightyellow;">
                <div class="card-body" style="color: green;">
                  <h6 class="mb-3">Price Details</h6>
                  <div class="d-flex justify-content-between">
                    <p class="mb-2" style="color: black;">Total price:</p>
                    <% console.log('totalprice',totalprice); %>
                    <p class="price_container mb-2" id="totalpricess" data-totalprice="<%= totalprice %>"
                      style="color: black; font-weight: bold;">
                      <%= totalprice %>/-
                    </p>
                  </div>
                  <div class="d-flex justify-content-between">
                    <p class="mb-2" style="color: black;">Discount:</p>
                    <p class="mb-2 text-success" style="color: black; font-weight: bold;">20%</p>
                  </div>
                  <hr />
                  <div class="d-flex justify-content-between">
                    <p class="mb-2" style="color: black;">Total Amount:</p>
                    <p class="mb-2 fw-bold" style="color: black; font-weight: bold;" id="totalDisplay">
                      <%= (totalprice - (totalprice*0.20)) %>/-
                    </p>
                    <input type="hidden" value=<%=(totalprice - (totalprice*0.20)) %> id="total">
                  </div>
                  <div class="mt-3">
                    <a id="TotalDisplay" href="/checkoutpage">

                      <button id="checkoutButton" class="btn btn-success w-100 shadow-0 mb-2">CheckOut</button>
                    </a>

                  </div>
                </div>
              </div>
              <%}%>

          </div>
          <!-- Summary -->
        </div>
      </div>
    </section>




    <!--footer-->
    <%- include('./partials/footer.ejs') %>
      <!--footer-->

      <!-- Js Plugins -->
      <script src="js/jquery-3.3.1.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.magnific-popup.min.js"></script>
      <script src="js/jquery-ui.min.js"></script>
      <script src="js/mixitup.min.js"></script>
      <script src="js/jquery.countdown.min.js"></script>
      <script src="js/jquery.slicknav.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/jquery.nicescroll.min.js"></script>
      <script src="js/main.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

      <script>
        const error1 = document.getElementById('error-message')
        const coupon = document.getElementById('couponid')
        const Botton = document.getElementById('buttons')
        const displayTotal = document.getElementById('totalDisplay')
        const checkouttotal = document.getElementById('TotalDisplay')
        let totalAmount = document.getElementById('total').value

        // let totalAmount = Number(total.value)
        Botton.addEventListener("click", (eve) => {
          ;
          const data = coupon.value;
          fetch("/addcouponcart", {
            method: "POST", // Use "POST" or "GET" depending on your requirements
            body: JSON.stringify({ coupon: data }),
            headers: {
              "Content-Type": "application/json",
            },
          }).then((response) => {

            if (response.status === 400) {
              return response.json().then((data) => {
                error1.innerText = "Enter a valid coupon code.";
                throw new Error("Invalid coupon code");
              })
            } else if (response.status === 404) {
              return response.json().then((data) => {
                error1.innerText = "Coupon has expired";
                throw new Error("Invalid coupon code");
              })
            } else if (response.status === 403) {
              return response.json().then((data) => {
                error1.innerText = "Coupon already used";
                throw new Error("Invalid coupon code");
              })
            }
            else if (response.status === 200) {
              return response.json();
            }
          }).then((data) => {

          if (data > totalAmount) {
              error1.innerText = "Coupon not allowed in this Totalamount .";
              throw new Error("Invalid coupon amount");
            } else {
              totalAmount = totalAmount - data;
                
              checkouttotal.href = `/checkoutpage?totalAmount=${totalAmount}`<!-- value assign in url---->
              displayTotal.innerText = totalAmount;
              Botton.disabled = true;
            }
          })
            .catch((error) => {
              console.log(error);
            });
        }) 
      </script>

     

      <!--count i and amount functions-->
      <script>
        document.querySelectorAll('.each_row').forEach(product => {
          const incrementbutton = product.querySelector('.incrbutton')
          const decreasebutton = product.querySelector('.decrebutton')
          const quantityinput = product.querySelector('.count')
          const priceinput = product.querySelector('.total-price')
          const container = product.querySelector('.count_container')
          const Pricecontainer = product.querySelector('.price_container')
          const secondButton = product.querySelector('.incrbutton2');
          secondButton.style.display = 'none'

          const AAmount = priceinput.textContent



          decreasebutton.addEventListener('click', async () => {
            const productId = container.dataset.productid
            let quantity = parseFloat(quantityinput.value)

            if (quantity > 1) {
              quantityinput.value = parseInt(quantityinput.value) - 1;
              quantity = parseFloat(quantityinput.value)
              console.log('quantity is', quantity);

              // Check if quantity is greater than 0 before decrementing

              const response = await fetch(`/CartMinusebutton/${productId}`, {
                method: 'get',
                headers: {
                  'Content-Type': 'application/json'
                },

              });
              // window.location.reload()
              if (response.status === 200) {
                incrementbutton.style.display = 'block';
                secondButton.style.display = 'none'
                updateTotalPricem();
              }
            }
          });

          incrementbutton.addEventListener('click', async () => {
            const productId = container.dataset.productid
            quantityinput.value = parseInt(quantityinput.value) + 1;
            const quantity = parseFloat(quantityinput.value)
            console.log('quantity is', quantity);



            const response = await fetch(`/CartPluseButton/${productId}/${quantity}`, {
              method: 'get',
              headers: {
                'Content-Type': 'application/json'
              },
            });

            if (response.status === 200) {
              updateTotalPrice();
            }
             else if (response.status === 400) {
              quantityinput.value = parseInt(quantityinput.value) - 1;
              console.log('toast');
              toastr.info('Insuficent stock!');
              incrementbutton.style.display = 'none';
              secondButton.style.display = 'block'

            }
          });
          // Implement this function to update the total price based on the updated quantity
          function updateTotalPrice() {
            const price = parseFloat(container.dataset.price)
            const quantity = parseInt(quantityinput.value)
            const total = price * quantity
            priceinput.textContent = `${total}/-`

            const totalprice = document.getElementById('totalpricess');
            let dataTotalprice = parseFloat(totalprice.getAttribute('data-totalprice'));

            // Access the data attribute here
            const parsedPrice = parseInt(price)
            console.log('dataTotalprice', dataTotalprice);


            let parseddataTotalprice = parseInt(dataTotalprice)
            const subtotal = parseddataTotalprice + parsedPrice
            totalprice.innerText = `${subtotal}/-`
            totalprice.setAttribute('data-totalprice', subtotal);
            const totalDisplay = document.getElementById('totalDisplay')
            const dicountvalue = subtotal - (subtotal * 0.20)
            console.log("dicountvalue", dicountvalue);
            const discounttt = subtotal - (subtotal * 0.20)
            totalDisplay.innerText = `${discounttt}/-`
            console.log('price is', parseddataTotalprice, parsedPrice);


          }

          function updateTotalPricem() {

            const price = parseFloat(container.dataset.price)
            const quantity = parseInt(quantityinput.value)
            const total = price * quantity
            priceinput.textContent = `${total}/-`

            const totalprice = document.getElementById('totalpricess');
            let dataTotalprice = parseFloat(totalprice.getAttribute('data-totalprice'));

            // Access the data attribute here
            const parsedPrice = parseInt(price)
            console.log('dataTotalprice', dataTotalprice);


            let parseddataTotalprice = parseInt(dataTotalprice)
            const subtotal = parseddataTotalprice - parsedPrice
            totalprice.innerText = `${subtotal}/-`
            totalprice.setAttribute('data-totalprice', subtotal);
            const totalDisplay = document.getElementById('totalDisplay')
            const dicountvalue = subtotal - (subtotal * 0.20)
            console.log("dicountvalue", dicountvalue);
            const discounttt = subtotal - (subtotal * 0.20)
            totalDisplay.innerText = `${discounttt}/-`
            console.log('price is', parseddataTotalprice, parsedPrice);


          }

        });
      </script>

</body>

</html>